
*.suo
*.user
*.sln.docstates
*.userprefs


**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/*.Android/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs
**/Droid/**/[Rr]esource.[Dd]esigner.cs


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/


*.obj

packages/
*.nuget.targets
*.lock.json
*.nuget.props


FakesAssemblies/

.vscode/settings.json